<!-- footer start -->
    <footer>
        <p>Shivang Mokariya</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, optio nesciunt.</p>
        <div class="social">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-telegram"></i></a>
        </div>
        <p class="end">Copyright By Shivang Mokariya</p>
    </footer>