<nav id="navbar">
            <h2 class="logo">Portfo<span>lio</span></h2>
            <ul id="navbar">
                <li><a href="#HOME">HOME</a></li>
                <li><a href="#about">ABOUT ME</a></li>
                <li><a href="#service">SERVICES</a></li>
                <li><a href="#">SKILLS</a></li>
                <li><a href="#">SHIVANG</a></li>
            </ul>
            <a href="#" class="btn">Subscribe</a>
        </nav>